body{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.bgdiv{
  display: flex;
  background-color: rgb(46, 41, 41);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  gap:2px;
}

.title{
  margin-right: 5px;
}

button{
  padding: 15px;
  background-color: rgb(46, 41, 41);
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover{
  opacity: 0.80;
}